/* .product-grid {
    opacity: 0;
    transform: translateY(200px);
    animation: slideInFromBottom 0.5s ease-out forwards;
  }
  
  @keyframes slideInFromBottom {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }*/

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 40px 30px;
}

@media(max-width:768px){
    .card-container{
        grid-template-columns: repeat(2,52%);
    }
  }

@media(max-width:600px){
    .card-container{
        grid-template-columns: repeat(2,51%);
    }
}

@media(max-width:400px){
    .card-container{
        grid-template-columns: repeat(2,53%);
        gap: 40px 20px;
    }
}

@media(max-width:300px){
    .card-container{
        grid-template-columns: repeat(2,55%);
        gap: 40px 10px;
    }
}

.single-product__image-container{
      /* margin: auto; */
    width: 100%;
  }
  
  .single-product__image-container img{
    
    width: 100%;
    height: auto;
  
    object-fit: cover;
    object-position: center;
  
    aspect-ratio: 1/1;
  }

