.similar-product__parentContainer{
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.similar-product__parent-class .card-container{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
}

@media(max-width:1200px){
  .similar-product__parent-class .card-container{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    gap: 40px 20px;

  }

}

@media(max-width:768px){
  .similar-product__parentContainer{
    width: 110%;
  }
  .similar-product__parent-class .card-container{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
  }
  
}

.similar-prod__head-section{
  display: flex;
  justify-content: space-between;
}