/* src/components/Header.css */

.parent-container{
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
}

@media (min-width: 768px) {
  .parent-container {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
  }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
  }
  
  .left-section,
  .center-section,
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .customer-service,
  .newsletter,
  .sign-in,
  .cart {
    text-decoration: none;
    color: #fff; /* Add your desired text color */
  }
  
  .right-section {
    margin-left: auto; /* Move to the extreme right */
  }
  
  .center-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1; /* Occupy remaining space, pushing logo to the center */
  }
  
 
  
  /* Add more specific styling based on your design needs */
  

  /* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    background-color: #333; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
  }
  
  .left-section,
  .center-section,
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .header-site-logo{
    width: 50px;
    height: auto;
  }


  /* src/components/Dropdowns.css */
.dropdowns {
    display: flex;
    justify-content: center; /* Center the dropdowns horizontally */
    align-items: center; /* Center the dropdowns vertically */
    background-color: #333; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
  }
  
  .dropdown {
    position: relative;
    margin-right: 15px;
    display: flex; /* Make each dropdown a flex container */
    align-items: center; /* Center the content vertically within the dropdown */
  }
  
  .dropbtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; /* Add more padding as needed */
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .dropbtn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -2px; /* Position the bottom border just below the dropbtn */
    left: 0;
  }
  
  .dropdown-content {
    display: none;
    position: fixed; /* Fixed positioning to cover the entire viewport */
    width: 90%; /* Take 90% of the website width */
    max-width: 500px; /* Add a max-width if needed */
    top: 90px; /* Adjust the top position as needed */
    left: 50%; /* Center the dropdown horizontally */
    transform: translateX(-50%); /* Adjust to center the dropdown */
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Add a higher z-index */
    opacity: 0; /* Start with zero opacity */
    animation: fadeIn 0.3s ease-in-out forwards; /* Fade-in animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center; /* Center the text */
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
