
  .sidebar-gender ul {
    list-style-type: none;
    margin-bottom: 50px;

  }

  .sidebar-gender ul li ul li{
    margin-top: 8px;
  } 

  .categoryLink{
    font-weight: bold;
  }
  

  .sidebarCategoryLink {
    position: relative;
    text-decoration: none;
    color: #333; /* You can adjust the color as needed */
  }
  
  .sidebarCategoryLink::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #333; /* Use the same color as the text */
    transition: width 0.3s ease; /* Add a transition effect to width */
  }
  
  .sidebarCategoryLink:hover::before {
    width: 100%;
  }
  

  .sidebar-gender ul li .categoryLink{
    margin-top: 1000px;
  }

  