.newArrivalsSection{
    margin: 58px 0 28px;
}
.viewAll__btnSection{
    padding: 28px;
    display: flex;
    justify-content: center;
}
.viewAllBtn{
    padding: 8px 18px;
    display: block;
    /* width: 50%; */

    background-color: #333;
    color: white;
    border: none;
}
.viewAllBtn:hover{
    color: red;
    text-decoration: none;
}

@media(max-width:500px){
    .newArrivalsSection .similar-product__parentContainer{
        background-color: blueviolet;
        width: 112%;
    }

    .similar-product-grid__prev-button{
        margin-right: 18px;
    }

    .similar-product-grid__next-button{
        margin-left: 18px;
    }
}